/.vagrant
/resources/*.tar.gz
/resources/jdk-7u51-linux-x64.gz
/resources/*.tgz
/learn-scala/.cache
/learn-scala/.classpath
/learn-scala/.gitignore
/learn-scala/.project
/learn-scala/.settings/org.eclipse.core.resources.prefs
/learn-scala/.settings/org.eclipse.jdt.core.prefs
/learn-scala/.settings/org.eclipse.m2e.core.prefs

.idea
*.iml
tmp
